@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.main-container{
    min-height: 100vh;
    background: url(https://i.ibb.co/SPZD6fx/banner.jpg) no-repeat;
}
.container{
    width: 85%;
    min-height: 100vh;
    margin: auto;
    background: url(https://i.ibb.co/SPZD6fx/banner.jpg) no-repeat ;
}
/* ----------------------------------------------------------------------------------- */
.logo{
    font-size: 10px;
    color: yellow;
    letter-spacing: 2px;
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #380ecd 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 20% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
      font-size: 30px;
}

@keyframes textclip {
  to {
    background-position: 20px ;
  }
}

.navbar{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
li{
    list-style: none;

}
a{
    text-decoration: none;
}
.navlist{
    display: flex;
    gap: 50px;
}
.navlinks{
    color: rgb(243, 243, 7);
    position: relative;
}
.navlinks:hover{
    color: rgb(239, 122, 5);
    transition: 0.6s ease-in-out;
}
.navlinks::before{
    content: " ";
    position: absolute;
    background-color: rgb(239, 122, 5);
    width: 0%;
    height: 2px;
    bottom: -10px;
}
.navlinks:hover::before{
    width: 100%;
    transition: 0.6s ease-in-out;
}
.fa-sharp-duotone{
    font-size: 30px;
    color: white;
}
.hamberg{
    display: none;
}
/* ------------------------------------------------------------------------------- */
img{
    max-width: 100%;
    height: auto;
}
.image-content{
    width: 29rem;
    position: relative;
}
.image-content::before{
    content: ' ';
    position: absolute;
    inset: 0;
    background-color: yellow;
    border-radius: 50%;
    z-index: -1;
    transform: rotate(120deg);
}
.hero-section{
    isolation: isolate;
    display: flex;
    align-items: center;
    gap: 25rem;
    margin-top: 30px;
}
.image-content::after{
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(transparent, black)80%;
    height: 15px;
    width: 40%;
    margin-left: 130px;
    
}
h4{
    font-size: 20px;
    color: yellow;
    text-transform: uppercase;
    font-weight: 500px;
    letter-spacing: 5px;
}
h2{
    color: rgb(204, 204, 196);
    letter-spacing: 2PX;
    font-size: 25PX;
}
h3{
    color: rgb(235, 8, 8);
    letter-spacing: 2PX;
    font-size: 45PX;
}
p{
    color: white;
    font-size: 20PX;
    margin-top: 10px;
}
span{
    color: rgb(203, 203, 179);
    font-size: 54px;
}
.btn-content{
    margin-top: 10px;
}
button{
    height: 40px;
    width: 170px;
    border-radius: 50px;
    font-size: 20px;
    background-color:transparent;
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 3px 3px white;
    margin-top: 30px;
    margin-left: 20px;
}
button:hover{
    background-color: orange;
    color: white;
    transition: .2s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 3px 3px rgb(235, 135, 4);
}
.passion{
    letter-spacing: 2PX;
    font-size: 25PX;
    color: red;
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #ebe8e8, #eb0202, #e4e1e1);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 8s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(241, 5, 5, 0);
    }

    @keyframes animate {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
    }
.git{
    font-size: 20px;
    margin-left: 20px;
    color: white;
}
.img-about{
    height: 600px;
}
.section2{
    min-height: 80vh;
}
.section2-content{
    width: 85%;
    min-height: 80vh;
    margin: auto;
}
.about{
    margin-top: 120px;
}
.about-me{
    text-align: center;
    font-size: 30px;
    color: black;
}
.am{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: rgb(233, 9, 9);
    text-decoration: underline;
}
.pic1{
    height: 500px;
    width: 400px;
}
.self{
    float: right;
}
.passion-me{
    font-size: 40px;
    color: red;
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #ebe8e8, #eb0202, #e4e1e1);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 8s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(241, 5, 5, 0);
    }

.tag1{
    font-size: 40px;
    letter-spacing: 0;
    margin-top: 60px;
    color: black;
    text-transform: capitalize;
}
.myinfor{
    width: 800px;
    height: 120px;
    color: black;
}
.section3{
    min-height: 95vh;
    background: url(https://i.ibb.co/SPZD6fx/banner.jpg) no-repeat ;
}
.section3-content{
    width: 85%;
    min-height: 95vh;
    margin: auto;
    background: url(https://i.ibb.co/SPZD6fx/banner.jpg) no-repeat ;
}
.line1{
    text-align: center;
    font-size: 30px;
}
.contact{
   color: blanchedalmond;
   font-weight: bold;
}
.touch{
    color: red;
    text-decoration: underline;
    font-size: 20px;
}
.left{
    width: 550px;
    margin-top: 100px;
    margin-left: 500px;
}
.par1{
    margin-top: 20px;
}
.name{
    margin-top: 40px;
    font-size: 40px;
    color: red;
    margin-left: 30px;
}
.nam{
    font-size: 30px;
    color: rgb(139, 134, 134);
    margin-left: 30px;
}
.adr{
    margin-top: 10px;
    font-size: 40px;
    color: red;
    margin-left: 30px;
}
.adrs{
    font-size: 30px;
    color: rgb(139, 134, 134);
    margin-left: 30px;
}
.email{
    margin-top: 10px;
    font-size: 40px;
    color: red;
    margin-left: 30px;
}
.mail{
    font-size: 30px;
    color: rgb(139, 134, 134);
    margin-left: 30px;
}
.footer{
    height: 5vh;
    width: 100%;
    background: url(https://i.ibb.co/SPZD6fx/banner.jpg) no-repeat;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0;
}
.foot{
    color: white;
    font-size: 20px;
}

